/* LAYOUT RULES */

/* Mobile Screen Rules <= 599px */

/* Tablet Screen Rules >=600px < 991px*/

@media only screen and (min-device-width: 600px) and (max-device-width: 899px) and (-webkit-min-device-pixel-ratio: 1) {
  .layout-screen {
    width: 100%;
    height: 100vh;
  }
  .layout-wrapper {
    /* background: #80b8be; */
    width: clamp(16rem, 85vw, 75rem);
    margin-left: auto;
    margin-right: auto;
    padding-left: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
    padding-right: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
    height: 100%;
  }
  .layout-flexRow {
    display: flex;
    flex-direction: row;
  }
  .layout-flexCol {
    display: flex;
    flex-direction: column;
  }
}

/* Laptop / Desktop (large) Screen Rules >= 900px */

@media (min-width: 900px) {
  .layout-screen {
    width: 100%;
    height: 100vh;
  }
  .layout-wrapper {
    /* background: #80b8be; */
    width: clamp(16rem, 85vw, 75rem);
    margin-left: auto;
    margin-right: auto;
    padding-left: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
    padding-right: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
    height: 100%;
  }
  .layout-flexRow {
    display: flex;
    flex-direction: row;
  }
  .layout-flexCol {
    display: flex;
    flex-direction: column;
  }
}
